.app {
  display: grid;
  grid-template-columns: 1fr min(99ch, 100%) 1fr;
  min-block-size: 100vh;
  overflow-x: hidden;
}

.app > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

@media screen and (max-width: 980px) {
  .app {
    padding: 0 1rem;
  }
}

img {
  height: 350px;
  border-radius: 15px;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    4px 6px 35px 18px rgba(216, 246, 255, 0.33);
}
